
.compare-container {
    display: flex;
    width: 100%;
  }
  
  .left-section {
    width: 50%;
    position: absolute;
    top: 200px;
    left: 0px; 

  }
  
  .dropdowns select {

  }
  
  .info-box {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 1rem;
  
    /* Other styling properties */
  }
  
  .category-dropdown select {
    background-color: white;
    color: black;
    /* Other styling properties */
  }
  
  .right-section {
    width: 50%;
    position: absolute;
    top: 200px;
    left: 1000px; 
  }